.vscode/
.github/
*.log
npm-debug.*
node_modules/
docs/
examples/
src/util/aspromise/
src/util/base64/
src/util/codegen/
src/util/eventemitter/
src/util/extend/
src/util/fetch/
src/util/fs/
src/util/path/
src/util/pool/
src/util/utf8/
