*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/entry/.preview
.cxx
/node_modules
/.preview
**/build
.hvigor
**/package-lock.json
/oh_modules
/entry/oh_modules
/oh-package-lock.json5